<h1>Editing tipo_vehiculo</h1>

<% form_for(@tipo_vehiculo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tipo_vehiculo %> |
<%= link_to 'Back', tipo_vehiculos_path %>