<h1>Editing equivalencia</h1>

<% form_for(@equivalencia) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </p>
  <p>
    <%= f.label :filtro %><br />
    <%= f.text_field :filtro %>
  </p>
  <p>
    <%= f.label :marca %><br />
    <%= f.text_field :marca %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @equivalencia %> |
<%= link_to 'Back', equivalencias_path %>