<h1>Listing tipo_filtros</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
  </tr>

<% @tipo_filtros.each do |tipo_filtro| %>
  <tr>
    <td><%=h tipo_filtro.id %></td>
    <td><%=h tipo_filtro.nombre %></td>
    <td><%= link_to 'Show', tipo_filtro %></td>
    <td><%= link_to 'Edit', edit_tipo_filtro_path(tipo_filtro) %></td>
    <td><%= link_to 'Destroy', tipo_filtro, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tipo_filtro', new_tipo_filtro_path %>