<h1>New filtro</h1>

<% form_for(@filtro) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </p>
  <p>
    <%= f.label :diametro_exterior %><br />
    <%= f.text_field :diametro_exterior %>
  </p>
  <p>
    <%= f.label :diametro_interior %><br />
    <%= f.text_field :diametro_interior %>
  </p>
  <p>
    <%= f.label :peso %><br />
    <%= f.text_field :peso %>
  </p>
  <p>
    <%= f.label :altura %><br />
    <%= f.text_field :altura %>
  </p>
  <p>
    <%= f.label :rosca %><br />
    <%= f.text_field :rosca %>
  </p>
  <p>
    <%= f.label :largo %><br />
    <%= f.text_field :largo %>
  </p>
  <p>
    <%= f.label :ancho %><br />
    <%= f.text_field :ancho %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', filtros_path %>