<p>
  <b>Id:</b>
  <%=h @filtro.id %>
</p>

<p>
  <b>Codigo:</b>
  <%=h @filtro.codigo %>
</p>

<p>
  <b>Diametro exterior:</b>
  <%=h @filtro.diametro_exterior_A %>
</p>

<p>
  <b>Diametro interior:</b>
  <%=h @filtro.diametro_interior_A %>
</p>
<p>
  <b>Diametro exterior B:</b>
  <%=h @filtro.diametro_exterior_B %>
</p>

<p>
  <b>Diametro interior B:</b>
  <%=h @filtro.diametro_interior_B %>
</p>
<p>
  <b>Diametro nominal:</b>
  <%=h @filtro.diametro_nominal %>
</p>
<p>
  <b>Peso:</b>
  <%=h @filtro.peso %>
</p>

<p>
  <b>Altura:</b>
  <%=h @filtro.altura %>
</p>

<p>
  <b>Rosca:</b>
  <%=h @filtro.rosca %>
</p>

<p>
  <b>Largo:</b>
  <%=h @filtro.largo %>
</p>

<p>
  <b>Ancho:</b>
  <%=h @filtro.ancho %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @filtro.tipo %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @filtro.descripcion %>
</p>


<%= link_to 'Edit', edit_filtro_path(@filtro) %> |
<%= link_to 'Back', filtros_path %>