<h1>Editing imagen</h1>

<% form_for(@imagen) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :direccion %><br />
    <%= f.text_field :direccion %>
  </p>
  <p>
    <%= f.label :filtro %><br />
    <%= f.text_field :filtro %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @imagen %> |
<%= link_to 'Back', imagens_path %>