<p>
  <b>Id:</b>
  <%=h @imagen.id %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @imagen.direccion %>
</p>

<p>
  <b>Filtro:</b>
  <%=h @imagen.filtro %>
</p>


<%= link_to 'Edit', edit_imagen_path(@imagen) %> |
<%= link_to 'Back', imagens_path %>