<h1>Editing lista_precio</h1>

<% form_for(@lista_precio) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :file %><br />
    <%= f.text_field :file %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :desde %><br />
    <%= f.date_select :desde %>
  </p>
  <p>
    <%= f.label :hasta %><br />
    <%= f.date_select :hasta %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @lista_precio %> |
<%= link_to 'Back', lista_precios_path %>